body {
  background: #2e3138;
  padding: 20px;
  color: #eee;
  font-family: Georgia, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Helvetica-Neue;
}

header {
  height: 40px;
  background: #444953;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 20px;
}

.container {
  margin: auto;
}

a {
  text-decoration: none;
  color: #eee
}
