form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #444953;
  padding: 20px;
  border-radius: 2px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.form-group:last-of-type {
  margin-bottom: 0;
}

.form-group label {
  margin-right: 10px;
  width: 90px;
  text-align: right;
  text-transform: capitalize;
}
.form-group input, .form-group textarea {
  flex: 1;
}
.form-group.buttons {
  margin-top: 20px;
  justify-content: flex-end;
}
.form-group.buttons button.primary {
  margin-left: 10px;
}
.form-group.buttons .left {
  flex: 1;
}
.form-group .user-avatar {
  margin-right:10px;
  margin-bottom: 5px;
}

form .message {
  font-size: 10px;
  position: absolute;
  left: 100px;
  bottom: -15px;
  color: #FF5555;
}
